@import url('https://fonts.googleapis.com/css2?family=Abel&family=Adamina&family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body,
  button,
  input {
    font-size: 1rem;
  }

  html {
    scroll-behavior: smooth;
  }

  ul {
    list-style: none;
  }

  Image {
    width: 100%;
    height: auto;
  }
}

@layer components {
  .main_container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  @media screen and (min-width:1124px) {
    .main_container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.story_img {
  width: 100%;
  height: fit-content;
  background-image: url('/story.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about_hero {
  width: 100%;
  height: 400px;
  background-image: url('/about-us-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.event_hero {
  width: 100%;
  height: 400px;
  background-image: url('/event-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.news_hero {
  width: 100%;
  height: 400px;
  background-image: url('/news-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact_hero {
  width: 100%;
  height: 400px;
  background-image: url('/contact-us-hero.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}